
* {
    font-family: 'Cormorant Garamond', serif;
}

.lead {
    font-style: italic;
}

img {

}

.col-md-6 {
    background-color: white;
    width: 300px;
    border: 10px black;
    border-style: double;
    padding: 50px;
    margin: 20px;
}

form {
    padding: 50px;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    img {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {

}