* {
	box-sizing: border-box;
	font-family: 'Cormorant Garamond', serif;
}

body {
	background-image: url(images/light-gray.jpg);
}

.container {
    margin-top: 20px;
}

/* Main Container (All Three HTML Files) */
div.col-lg-8 {
	background-color: white;
    padding: 20px;
    border-style: double;
    border-color: black;
    border-width: 10px;
}

/* Sidebar 'Let's Connect' (All Three HTML Files) */
aside {
    margin: 20px;
    margin-left: 80px;
    height: 220px;
}

aside.col-sm-2 {
	background-color: white;
    padding: 8px;
    border-style: double;
    border-color: black;
    border-width: 10px;
}

h2 {
    text-align: center;
}

#linkedIn {
    float: left;
}

#github {
    float: right;
}

.navbar-brand {
	font-size: 30px;
}

.nav-link {
	font-size: 24px;
}

/* Photo of Zack */
img {
	float: right;
    border: 5px;
    padding-right: 5px;
}

.bio {
	font-size: 20px;
}

.first-line {
	font-style: italic;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
  	width: 100%;
	text-align: center;
	color: black;
}

/* Portfolio Page Material */
img.game1 {
    float: left;
    padding: 20px;
    justify-content: center;
}

img.game2 {
    float: left;
    padding: 20px;
    justify-content: center;
    margin-left: 100px;
    margin-top: 30px;
}

img.blog {
    float: left;
    padding: 20px;
    justify-content: center
}

.game {
    max-width: 100%;
    height: auto;
}

h3 {
    text-align: center;
}

#moodiiImg {
    float: left;
    padding-top: 10px;
}

/* Media Querie Section ???? */

@media screen and (max-width: 1199px) {
    aside {
        position: fixed;
        height: 250px;
    }
}


@media screen and (max-width: 500px) {
    #moodiiImg {
        visibility: hidden;
    }
}